body {
  background-color: #254151;
}

.navbar {
  padding: 1rem;
  background-color: #254151;
}

.hero-background-img {
  position: relative;
  background: rgba(37, 65, 81, 0.1);
  padding-top: 250px;
  padding-bottom: 280px;
}

.hero-background-img:after {
  content: "";
  position: absolute;
  background-image: url("Delivery1.JPEG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 1;
}

.hero-top {
  color: white;
  padding-top: 0rem;
}

.hero-headline {
  font-size: 100px;
  font-weight: bold;
}

.hero-description {
  font-size: 25px;
  font-weight: bold;
  color: #c43d3f;
}

.hero-bottom-left {
    /*
      position: relative;
  background: rgba(234, 234, 232, 0.85);
    */
    background: rgba(234, 234, 232, 1);
}

.hero-bottom-right {
    /*
      position: relative;
  background: rgba(167, 69, 59, 0.85);
    */
    background: rgba(167, 69, 59, 1);
}

.mission-info {
  background: white;
}

.mission-head {
  color: #d43739;
  margin-top: 3;
  font-weight: bold;
}

.work-info {
  background: white;
}

.work-head {
  color: #d43739;
  margin-top: 3;
  font-weight: bold;
}

.fact-left {
  background: #f4ce50;
  color: #d43739;
  font-weight: bold;
}

.fact-right {
  background: #254151;
  color: white;
  display: flex;
  align-items: center;
}

.progress {
  background: #f4ce50;
  color: #254151;
  display: flex;
  align-items: center;
}

.contact-info {
  background: white;
}

.contact-head {
  color: #d43739;
  margin-top: 3;
  font-weight: bold;
}

.contact-left {
  list-style-type: none;
  height: 35px;
  line-height: 35px;
  padding-top: 3rem;
}

.form-control {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-style: hidden hidden solid hidden;
  border-radius: 0px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.fridges {
  width: 100%;
  border: 1px solid;
}

.partners-body {
  display: flex;
  align-items: center;
}

.thumbnail {
  width: 326px;
  height: 184px;
}

.thumbnail:hover {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
    opacity: 0.8;
}

.title a {
    text-decoration: none;
    color: black;
    font-weight: normal;
    font-size: 30px;
}

.title a:hover {
    color: dimgray;
}